<h1> Thi is the secret page!</h1>

<p> you found me! </p>

<img src ="https://images.unsplash.com/photo-1517423738875-5ce310acd3da?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b1523dbf0339fcfcadbe96fe4eb2f8b2&auto=format&fit=crop&w=1005&q=80">

<li> <a href="/register"> Sign Up!</a></li>
<li> <a href= "/login"> Login!</a></li>
<li><a href="/logout"> Logout!</a></li>